<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    

<title> google</title>
     <link type="text/css" href="/css/home.css" rel="stylesheet">
</head>
    
    <body>
          <header>
            <nav>
                    <ul>
                        <li><a href="">Gmail</a></li>
                        <li><a href="">Images</a></li>
                        <button href=""><img width="15px" src="/images/options.png"></button>
                        <li class="sign"><a href="">Sign In</a></li>
                    </ul>
            </nav>
        
          </header>
      
       <main class="main">
           
          
           
           <img class="google-img" width="250px" src="/images/googlelogo.png">
           
          
               <form method="post" action="">
                    <div class="form-div" >
                   
                        <input size="50" type="url" placeholder="input url or search by google">
                        <button type=""><img width="15px" src="/images/mic.jpg"></button>
                    </div>
               </form>
           <div class="tiles">
               
               <ul>
                   <div class="tiley">
                       <li><a href=""> Google Search </a></li>
                   </div>
                   <div class="tile">
                       <li><a href="">I'm Feeling Lucky</a></li>
                   </div>
               </ul>
           
               
           </div>
           
           
           
        </main>
         <footer id="footer">
             
             
                    
                         <ul class="footer-left">
                             <li> <a href="">Advertising</a> </li>
                             <li><a href=""> Business</a></li>
                             <li><a href="">About </a></li>
                        </ul>

                    


                     
                         <ul class="footer-right">
                             <li><a href="">Privacy</a></li>
                             <li><a href="">Terms</a> </li>
                             <li><a href="">Settings</a> </li>


                         </ul>
                     
             
        </footer>
        
    </body>
    
</html>